*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .contentBox{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start, .rules{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.start button{
    font-size: 4vmin;
    font-weight: 520;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    color: green;
    border-radius: 10px;
} */

/* Rules Div */
/* .rules{
    background-color: red;
    width: 540px;
}
.divTitle{
    height: 3rem;
    width: 100%;
    border-bottom: 1px solid gray ;
    display: flex;
    align-items: center;
    padding: 0 40px;
    font-size: 1.3rem;
    font-weight: 500;
}

.rulesList{
    padding: 15px 30px;
}
.rulesItem{
    margin: 5px 0;
    font-size: 1rem;
}

.buttonDiv{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    border: 1px solid black;
}

.buttonDiv button{
    margin-top: 5px;
} */